/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define DEFAULT 0
#define LOWER 1
#define RAISE 2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own
        base_layer {
            bindings = <
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // | SHIFT |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // |  CTRL |  Z  |  X  |  C   |  V   |  B   |                   |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | ALT | GUI  | SPACE| LOWER|                   | RAISE| ENTER | BSPC  | GUI  |
                &kp ESC    &kp N1     &kp N2     &kp N3     &kp N4      &kp N5               &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp GRAVE
                &kp TAB    &kp Q      &kp W      &kp E      &kp R       &kp T                &kp Y      &kp U      &kp I      &kp O      &kp P      &kp MINUS
                &sk LSHIFT &kp A      &kp S      &kp D      &kp F       &kp G                &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp SQT
                &kp LCTRL  &kp Z      &kp X      &kp C      &kp V       &kp B                &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH   &kp RSHIFT
                                      &kp LALT  &kp LGUI    &kp SPACE   &mo LOWER            &mo RAISE  &kp ENTER  &kp BSPC   &kp RGUI
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |                   |      |  -    |  +    |  {   |   }   |  "|"  |
            //               |     |      |      | LOWER|                   | RAISE|       |       |      |
            bindings = <
                &trans     &trans     &trans     &trans     &trans      &trans               &trans     &trans     &trans     &trans     &trans     &trans
                &kp F1     &kp F2     &kp F3     &kp F4     &kp F5      &kp F6               &kp F7     &kp F7     &kp F8     &kp F9     &kp F10    &kp F11
                &kp GRAVE  &kp EXCL   &kp AT     &kp HASH   &kp DOLLAR  &kp PRCNT            &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR   &kp TILDE
                &trans     &kp "["    &kp "]"    &trans     &trans      &trans               &trans     &kp MINUS  &kp PLUS   &kp LBRC   &kp RBRC   &kp PIPE
                                      &trans     &trans     &trans      &mo LOWER            &mo RAISE  &trans     &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |       |     |     |      |      |      |                   |      |       |   ^   |      |       |       |
            // |       |     |     |      |      |      |                   |      |   <-  |   v   |  ->  |       |       |
            // |       |     |     |      |      |      |        |  |       |      |       |   =   |  [   |   ]   |   \   |
            //               |     |      |      | LOWER|                   | RAISE|       |       |      |
            bindings = <
                &trans     &trans     &trans     &trans     &trans      &trans               &trans     &trans     &trans     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans      &trans               &trans     &trans     &kp UP     &trans     &trans     &trans
                &trans     &trans     &trans     &trans     &trans      &trans               &trans     &kp LEFT   &kp DOWN   &kp LEFT   &trans     &trans
                &trans     &trans     &trans     &trans     &trans      &trans               &trans     &trans     &kp EQUAL  &kp LBKT   &kp RBKT   &kp BSLH
                                      &trans     &trans     &trans      &mo LOWER            &mo RAISE  &trans     &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

    };
};