# No whitespace after the comma or in your part name!
config SHIELD_WINGS_LEFT
    def_bool $(shields_list_contains,wings_left)

# No whitespace after the comma or in your part name!
config SHIELD_WINGS_RIGHT
    def_bool $(shields_list_contains,wings_right)